In [5]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [ ]:
import pandas as pd

In [12]:
#2. Load the dataset into a pandas DataFrame. 
df = pd.read_excel("_Social Media Usage Survey.xlsx")
df

,User ID,Age Group,Gender,Most Used Social Media Platform,Daily Screen Time (hours),Primary Purpose of Use,Preferred Content Type,Influence on Buying Decisions,Privacy Concern Level,Would you reduce social media usage?
0,ID8841,31-50,Other,Instagram,3-4,News,Articles,Yes,Low,No
1,ID4281,0-18,Female,Twitter,3-4,Business,Images,No,Medium,Yes
2,ID2312,19-30,Female,Twitter,5-6,News,Videos,Sometimes,High,Yes
3,ID1038,19-30,Male,Facebook,3-4,News,Videos,No,Medium,Maybe
4,ID3610,31-50,Female,Instagram,5-6,Business,Videos,Sometimes,High,Yes
...,...,...,...,...,...,...,...,...,...,...
994,ID7392,31-50,Other,Twitter,5-6,Entertainment,Videos,Sometimes,Low,Yes
995,ID5572,31-50,Female,Facebook,3-4,Business,Videos,Yes,Low,Maybe
996,ID4520,31-50,Male,Facebook,1-2,Entertainment,Images,Yes,High,No
997,ID9105,19-30,Female,Twitter,1-2,Business,Videos,Yes,Low,No
998,ID8551,0-18,Male,Instagram,3-4,Entertainment,Articles,Sometimes,High,No

In [14]:
# quick count of missing values per column
df.isnull().sum()

User ID                                 0
Age Group                               0
Gender                                  0
Most Used Social Media Platform         0
Daily Screen Time (hours)               0
Primary Purpose of Use                  0
Preferred Content Type                  0
Influence on Buying Decisions           0
Privacy Concern Level                   0
Would you reduce social media usage?    0
dtype: int64

In [15]:
# remove columns that are fully empty
df.dropna(axis=1, how="all", inplace=True)

In [16]:
df.shape

(999, 10)

In [17]:
# fill any missing cell with 'Unknown' text
df.fillna("Unknown", inplace=True)

In [18]:
#Convert numeric column type
df["Daily Screen Time (hours)"] = pd.to_numeric(df["Daily Screen Time (hours)"], errors="coerce")

In [19]:
df["Daily Screen Time (hours)"].dtype

dtype('float64')